!!! 5
%html.subscriptions-layout-html{ lang: 'en' }
  = render 'layouts/head'
  %body.ui-indigo.d-flex.vh-100{ data: body_data }
    = render "layouts/header/logo_with_title"
    = render "layouts/broadcast"
    .container.d-flex.gl-flex-direction-column.m-0
      = yield
